[user]
	name = Matěj Kocián
	email = matej.kocian@cint.com
[core]
	editor = vim
	editora = vim
	excludesfile = ~/.gitignore
[merge]
	tool = vimdiff
[diff]
	tool = gvimdiff
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[alias]
        graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
    l = log
    ls = log --stat
    d = diff
    dc = diff --cached
    dw = diff --word-diff
    dcw = diff --cached --word-diff
    sh = show
    co = "!f() { : git checkout ; [ \"$1\" != '.' ] && git checkout \"$@\" || echo 'git checkout . is like git reset --hard' ; }; f"
    ci = commit
    s = status
    a = add
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    mt = mergetool
    st = status -uno
    cint-clone = "!git clone git@github.com:lucidhq/$1.git"
    org-repo = "!f() { git remote show origin | grep \"Fetch URL\" | sed -r 's/.*://' | sed -r 's/\\..*//' ; }; f"
    repo-name = "!f() { git org-repo | sed -r 's/.*\\///' ; }; f"
    branch-name = rev-parse --abbrev-ref HEAD
    org-name = "!f() { git org-repo | sed -r 's/\\/.*//' ; }; f"
    pr = "!f() { or=`git org-repo` ; b=`git branch-name` ; chromium https://github.com/$or/pull/new/$b ; }; f"
    amend = commit --amend --no-edit
    capf = !git commit --amend --no-edit && git push -f
    gh = "!f() { or=`git org-repo` ; b=`git branch-name` ; chromium https://github.com/$or/blob/$b/${GIT_PREFIX}$1 ; }; f"
    dn = "!f() { git diff $(git status | grep modified | sed 's/^.*:   //' | head -n \"$1\" | tail -n 1) ; }; f"
    an = "!f() { git add $(git status | grep modified | sed 's/^.*:   //' | head -n \"$1\" | tail -n 1) ; }; f"
    merged-branch = "!f() { branch_name=`git branch-name` ; git checkout main || git checkout master && git pull && git br -d $branch_name ; }; f"
    turbogrep = "!f() { git grep \"$@\" $(git rev-list --all) ; }; f"
    get-from-rev = "!f() { git show \"$1\":\"$2\" > $(dirname \"$2\")/\"$1\"_$(basename \"$2\") ; }; f"
    chp = cherry-pick
[push]
	default = simple
    autoSetupRemote = true
	followTags = true
[credential]
	helper = cache --timeout=3600
[pull]
	rebase = false
[commit]
	verbose = true
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
