[user]
	name = Matěj Kocián
	email = matej.kocian@gmail.com
[core]
	editor = vim
	editora = vim
	excludesfile = $HOME/.gitignore_global
[merge]
	tool = vimdiff
[diff]
	tool = gvimdiff
[alias]
        graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
    l = log
    d = diff
    sh = show
    co = checkout
    ci = commit
    s = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[push]
	default = simple
[credential]
	helper = cache --timeout=3600
